
.descripcion-container{
 

  background :linear-gradient(45deg, #3a3a3a, #2b2b2b, #1c1c1c, #0d0d0d, #000000);
 
}
.title{
 
  background :linear-gradient(45deg, #3a3a3a, #2b2b2b, #1c1c1c, #0d0d0d, #000000);

}
.p1{
  background :linear-gradient(45deg, #3a3a3a, #2b2b2b, #1c1c1c, #0d0d0d, #000000);
 
  
}

.custom-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-modal .modal-content {
  background-color: #ffffff; /* Fondo blanco */
  width: 300px; /* Ancho del recuadro */
  padding: 20px; /* Espacio interno */
  border-radius: 10px; /* Bordes redondeados */
}

.custom-input {
  width: 50%; /* Ajusta este valor según tus necesidades */
  margin-left: auto;
  margin-right: auto;
}